<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/productDetail.css">
    <title>Product detail</title>
</head>
<body>
    <div class="product">
        <div class="productImg">
            <a href="#">
                <img src="../img/nhan.jpg" alt="nhẫn nữ">
            </a>
            <a class="detail" href="#">Chi tiết</a>
        </div>
        <div class="productNameAndPrice">
            <a href="#">Nhẫn nữ Kim cương <br /> DJR2865</a>
            <br />
            <span>45,670,000đ</span>
        </div>
    </div>
</body>
</html>